body, html {
    margin: 0px;
    padding: 0px;
}
#container {
    width: 800px;
    margin: 0 auto;
}
#header {
    background-color:#63b9da;
}
#left {
    background-color:#a9d28c;
    width: 198px;
    float: left;
}
#content {
    background-color:#d5d7b5;
    width: 600px;
    margin-left: 2px;
    float: left;
}
#clear {
    height: 0px;
    font-size: 1px;
    line-height: 0px;
    clear: both;
}
#footer {
    background-color:#d292bc;
}